button {
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease;
}

.dropdown {
    padding: 16px 25px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #151515;
    font-family: 'Druk-Wide-Cy-Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #FFFFFF;
    transition: all 500ms ease;
}

.link-button {
    padding: 20px 45px;
    margin: 10px 0;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #151515;
    font-family: 'Druk-Wide-Cy-Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    transition: all 500ms ease;
}
