@import "slider.css";
@import "normalize.css";
@import "button.css";
@import "font.css";
@import "dropdown.css";

html {
    background-color: #151515;
    color: #FFFFFF;
}

body {
    padding: 50px 0 70px 0;
    position: relative;
}

#delivery {
    right: 0;
}

.section {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.container {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    position: relative;
}

.border {
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: #151515;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-to-card {
    max-width: 600px;
}

.max-300 {
    max-width: 302px;
}

.marquee {
    background-color: #B8EAFF;
    color: #151515;
    padding: 10px 0;
}

.p-16-30 {
    padding: 16px 30px;
}

.p-26-40 {
    padding: 26px 40px;
}

.p-35-40 {
    padding: 35px 40px;
}

.flex {
    display: flex;
}

.align-start {
    align-items: flex-start
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.max-400 {
    max-width: 400px;
}

.header {
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.p-40 {
    padding: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.w-full {
    width: 100%;
}

.checkbox-subscription {
    margin: 50px 0 30px 0;
}

.footer {
    margin-top: 70px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-element-category-img {
    max-height: 300px;
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.title-element-category {
    object-fit: cover;
}

.animate-button {
    transition: all 500ms ease;
    cursor: pointer;
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.animate-button:hover {
    color: #151515;
    fill: #151515;
    stroke: #151515;
    background-color: #FFFFFF;
}

.animate-button:active {
    background-color: #8C8C8C;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.grid-addresses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.max-w-1260px {
    max-width: 1260px;
}

.grid-about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    grid-template-rows: repeat(4, auto);
    grid-gap: 1rem;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /*margin: 0 20px;*/
}

.grid-element-about-img {
    max-width: 100%;
}

.grid-element-about-1 {
    grid-area: 1 / 1 / 9 / 2;
    object-fit: cover;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}


.grid-element-about-2 {
    grid-area: 9 / 1 / 11 / 2;
    margin-top: 20px;
}

.grid-element-about-3 {
    grid-area: 1 / 2 / 3 / 3;

}

.grid-element-about-4 {
    grid-area: 3 / 2 / 11 / 3;
    object-fit: cover;
}

.radius {
    border-radius: 15px;
}

.return-error-page {
    margin-top: 170px;
}

.error-page-wrap {
    max-width: 820px;
    margin-top: 200px;
}

.flower-404 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 780px;
}

.about-img-bottom {
    max-width: 840px;
}

.gift-card-top-check-out-card {
    margin-bottom: 40px;
    padding: 20px 0;
    background-color: #B8EAFF;
    display: flex;
    justify-content: center;
}

.bg-blue {
    background-color: #B8EAFF;
}

.gift-card-top-wrap-left {
    text-align: center;
    min-width: 560px;
    padding: 40px 0;
}

.gift-card-top-wrap-right {
    padding: 40px 40px;
}

.gift-card-top-wrap-bottom {
    display: flex;
    justify-content: space-around;
}

.gift-card-top {
    display: flex;
    justify-content: space-between;
}

.delivery-title {
    display: flex;
    justify-content: space-between;
}

.delivery-title-element {
    width: 100%;
}

.free-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.input-delivery {
    background-color: #151515;
}

.check-city {
    height: 35px;
    max-width: 540px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pt-40 {
    padding-top: 40px;
}

.delivery-map {
    max-width: 850px;
}

.delivery-map {
    width: 66%;
    object-fit: cover;
}

.text-support {
    max-width: 480px;
}

.product-img-block {
    max-width: 630px;
    max-height: 560px;
    overflow: hidden;
}

.product-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: -120px;
}

.product-wrap {
    display: flex;
    justify-content: space-between;
}

.product-description {
    max-width: 630px;
}

.product-list-img-wrap {
    max-width: 306px;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}



.product-list-img {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: -60px;
}


.product-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-wrap-element {
    padding: 10px 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-img {
    width: 100%;
}

.swiper-slide {
    height: auto;
}

.relative {
    position: relative;
}

.bottom-wrap-slider {
    width: 520px ;
    position: absolute;
    right: 0;
    bottom: 4px;
    border-radius: 16px 0 0 0;
    z-index: 9999;
    height: 108px;
    background-color: #151515;
    display: flex;
    align-items: flex-end;
}

.swiper-button-next {
    width: 50px !important;
    height: 83% !important;
    display: block !important;
    top: 0 !important;
    content: none !important;
    opacity: 0 !important;
}

.swiper-button-prev {
    width: 50px !important;
    height: 100% !important;
    display: block !important;
    top: 0 !important;
    content: none !important;
    opacity: 0 !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pop-up {
    position: fixed;
    right: -60px;
    bottom: 0;
}

.pop-up-wrap {
    padding: 50px 100px;
}

.city-wrap {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;
    overflow: auto;
    max-height: 300px;
}
